@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./assets/images/background.jpg");
  background-size:200vw 300vh;
  background-repeat:repeat;
  
  background-color: black;

}

.logo {
  cursor: pointer;
}




/*pages*/


.pdfLink {
  color:white;
}

.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-shadow: 1px 3px 3px black;
}

/* contact page */

.contactWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  height: 90vh;
  padding-top: 95px;
}

.contactHeader {
  text-align: center;
  width:100%;
  align-items: center;
  justify-content: center;
}
.contactTitle {
 width:70%;
 text-align: left;
 margin-bottom: 10px;
 margin-top: 20px;
 border-bottom: 2px solid black;
}
.contactDescription {
  text-align: left;
  margin-left: 220px;
  margin-right: 220px;
}

.contactDetails {
  display: flex;
  justify-content:space-around;
  width: 70%; 
  margin: 30px;
}

.contactInfo {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px; /* Space between info box and map */
}

.map{
margin: 20px;
flex-grow:1;
}

.bottomContactText {

  margin:10vh;

}
/* career page */

.careersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  height: 90vh;
  padding-top: 95px;
}

.careersHeader {
  text-align: center;
  width:100%;
  align-items: center;
  justify-content: center;
}
.careersTitle {
  justify-content: center;
   width:70%;
   text-align:left;
   margin-bottom: 10px;
   margin-top: 20px;
   border-bottom: 2px solid black;
  }


header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  margin-top: 20px;
}

section {
  margin-bottom: 40px;
}

.openPositionsTitle {

  margin-left:30px;
}

.job {
  background-color: #f5f5f5;
  padding: 20px;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin:30px;
}


.job a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: darkgreen;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.job a:hover {
  background-color: rgb(0, 80, 0);
}

.job a {
  border: 2px solid #136134; /* Adding border */
  transition: color 0.8s, border-color 0.8s; /* Transition for color and border */
}


.careerSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;

}

 /*project page */

 .projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the start (top) vertically */
  height: 90vh;
  padding-top: 95px;}

.projectSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.servicesList {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  }

.servicesList li {

  margin-left: 30px;
  margin-top: 5px;
}

.projectPicture {
  border: 5px solid white;
  color: white;
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  margin: 10px;
  text-decoration: none;
  background-size: 115%;
  transition: all 0.5s;
  font-size: 1rem;

  background-size: cover;
  border-radius: 50px;
}
.projectLabel {

  text-align: center;
  text-justify: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.projectName {

  text-align: center;
  text-justify: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.projectPicture:hover {

  cursor: pointer;
  transform: translateY(-2px);
  transition: transform 250ms; 


}


.navWrapper {
  background-color: white;
  display: flex;
  position: fixed;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 12vh;
  width: 100%;
}
.nav-item:hover {
  transform: translateY(-2px);
  transition: transform 250ms; 

}

.navLinks {
  
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  color: black;
  /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
}
.navLinks:hover {
  cursor: pointer; 
}


footer {
  text-align: center;
  align-items: bottom;
  margin-top: 20px;
}

/* personnel page */

.personnelHeader {
  text-align: center;
  width:100%;
  align-items: center;
  justify-content: center;
}
.personnelTitle {
width:70%;
 text-align: left;
 margin-bottom: 10px;
 margin-top: 20px;
 border-bottom: 2px solid black;
}
.personnelDescription {
  text-align: left;
  margin-left: 220px;
  margin-right: 220px;
}

/* testimonials page */

.testimonialsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.testimonial {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.testimonialsHeader {
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 95px;
}

.testimonialsTitle {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.testimonialsDescription {
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonial img {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px; /* Space between image and text */
  margin-top: 10px;
  border: 3px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.shortTestimonialsContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%; /* Occupy full width */
}

.shortTestimonialsContainer .testimonial {
  max-width: 300px; /* Adjust as needed */
}

/* services page */

.servicesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  height: 90vh;
  padding-top: 95px;
}

.servicesHeader {
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.servicesSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.servicesTitle {
  width: 70%;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 2px solid black;

}


.servicesListBackground {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
  margin: 20px auto; /* Centers the list horizontally */
}
.servicesListTitle {
  text-align: left;
  text-decoration: underline;
  margin-bottom: 20px;
  
}

.servicesListItem {

  flex-basis: calc(50% - 40px); /* Two items per row with spacing */
  margin: 20px;
}

.servicesDescription {
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.5; 
}


.servicesList {
  width: 60%;
  font-size: 14px;
  list-style: none;
  margin-left:100px;
}

.servicesList li {
  margin-bottom: 24px;
  text-decoration: underline; /* Underline each list item */
  cursor: pointer; /* Change cursor to pointer */
  line-height: .2;
}

.servicesList li:before {
  content: ' ';
  color: #000000;
  font-size: 10px;
  margin-right: 8px;
  vertical-align: middle;

}


/* logo image in navbar */
.logo-image {
  width: 390px; 
  height: auto; 
  
}

/* modal for form */

.modalTitle {
  display: flex;
  text-justify: center;
  justify-content: center;
  justify-items: center;
}


.open-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  height: 25vh; /* Adjust the height as needed */
}

.open-modal-button {
  /* Your button styles */
  background-color: darkgreen;
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  font-size: 18px; /* Adjust font size as needed */
  color: white;
  margin: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.open-modal-button:hover {
  background-color: rgb(0, 80, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



.close-modal-button {
  /* Style for the close button inside the modal */
  /* This can be positioned at the bottom if you prefer */
  background-color: darkgreen;
  position: absolute;
  color:white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
.close-modal-button:hover {
  /* Style for the close button inside the modal */
  /* This can be positioned at the bottom if you prefer */
  background-color: rgb(0, 80, 0); /* Darker green on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}



.custom-modal {
  position: fixed; /* Change to fixed position */
  top: 50%; /* Place it 50% from the top */
  left: 50%; /* Place it 50% from the left */
  transform: translate(-50%, -50%); /* Center it horizontally and vertically */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 70vw;
  height: 85vh;
}


/* Styles for the modal overlay */
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* form page*/

/* Styles for the form within the modal */
.formcarry-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adjust width and spacing of form elements */
.formcarry-container form input,
.formcarry-container form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

/* Increase the height of the textareas if needed */
.formcarry-container form textarea {
  height: 60px;
}

.formcarry-container form button[type="submit"] {
  background-color: darkgreen; /* Green background */
  color: white;
  padding: 10px 20px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Hover effect for the button */
.formcarry-container form button[type="submit"]:hover {
  background-color: rgb(0, 80, 0); /* Darker green on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}






/* home page */


.homeWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    height: 90vh;
    padding-top: 95px;
  }

.homeHeader {
    padding: 20px;
    text-align: center;
  }

.homeMain {
  flex-grow: 1; 
  text-align: center;
  padding: 20px;
}

.img1{
height:70vh;
width:30vw;
}
.img2{
  height:30vh;
width:30vw;
}
.img3{
  height:30vh;
width:30vw;
}
.img4{
  height:30vh;
width:30vw;
}



/* old footer*/

.social-container {
  display: flex;
  justify-content: center;
  align-items:first baseline;
  

}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;

  
}

a.social:hover {
  transform: translateY(-2px);
}

a.linkedin {
  color:rgb(57, 128, 214);
}

a.github {
  color: white;

}

/* responsiveness*/


@media screen and (max-width: 1024px) {

  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-right: 40px;
    color: white;
    text-shadow: 1px 3px 3px black;
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
  }

  .navWrapper {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 12vh;
    width: 100%;
  }

  .aboutWrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    height: 85vh;

  }


  .homeImageContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    bottom: -10px;
    
    }
    .homeImage {
      width: 180px;
      height: 180px;
      display: block;
      margin-right: 95px;
      justify-items: center;
      align-content: center;
      justify-self: center;
      align-items: center;
      justify-content: center;
    }


     /*project page */

    .projectWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }

    .projectSection{

    display: flex ;
    text-align: center;
    color:white;
    font-family: "Inter", sans-serif;
    max-width: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: -5%;
    }
    .projectPicture {
      border: 5px solid white;
      color: white;
      min-height: 50px;
      max-height: 250px;
      flex-basis: 80%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-justify: center;
      flex-wrap: wrap;
      padding: 20px 20px 20px 20px;
      margin: 10px;
      text-decoration: none;
      background-size: 115%;
      transition: all 0.5s;
      font-size: 1rem;
      background-size: cover;
      border-radius: 50px;
    }

  

}



@media screen and (max-width: 768px)  {


  .navLinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    color: white;
    font-size: 1rem;
  }

  .flex-item {
    flex-basis: 100%;
    min-height: 120px;
    max-height: 200px;
  }


  .hero {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }




  /*project page */
  .projectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .projectPicture {
    border: 5px solid white;
    color: white;
    min-height: 120px;
    max-height: 120px;
    min-width: 120px;
    max-width: 120px;
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: center;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    text-decoration: none;
    background-size: 115%;
    transition: all 0.5s;
    font-size: 1rem;
    background-size: cover;
    border-radius: 50px;
  }
  
}

@media screen and (max-width: 500px) and (min-width:376px) {

  .projectPicture {
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
  }

  .projectLabel {

    font-size:0.8rem;
   }
   .projectName {
   
     font-size:0.8rem;
   }
}




@media screen and (max-width: 375px) and (min-width:351px) {

  .aboutWrapper {
    
    height: 120vh;

  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size:140% 150%;
    background-repeat: no-repeat;
    background-color: black;
  
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    color: white;
    font-size: 1rem;
  }

   /*project page */

  .projectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .projectPicture {
    min-height: 70px;
    max-height: 70px;
    min-width: 70px;
    max-width: 70px;
  }

  .projectLabel {

   font-size:0.8rem;
  }
  .projectName {
  
    font-size:0.8rem;
  }

  
}

@media screen and (max-width: 350px) and (min-width:0px) {

  .aboutWrapper {
    
    height: 120vh;

  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-size:140% 150%;
    background-repeat: no-repeat;
    background-color: black;
  
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    color: white;
    font-size: .6rem;
  }

   /*project page */

  .projectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .projectSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: -10px;
    padding-top: 15px;
  }
  .projectPicture {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
  }

  .projectLabel {

   font-size:0.5rem;
  }
  .projectName {
  
    font-size:0.5rem;
  }

  
}
  
