@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./assets/images/background.jpg");
  background-size:200vw 300vh;
  background-repeat:repeat;
  
  background-color: black;

}


/*pages*/


.pdfLink {
  color:white;
}

.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-shadow: 1px 3px 3px black;
}

/* contact page */

.contactWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  height: 90vh;
  padding-top: 95px;
}

.contactHeader {
  text-align: center;
  width:100%;
  align-items: center;
  justify-content: center;
}
.contactTitle {
 width:70%;
 text-align: left;
 margin-bottom: 10px;
 margin-top: 20px;
 border-bottom: 2px solid black;
}
.contactDescription {
  text-align: left;
  margin-left: 220px;
  margin-right: 220px;
}

.contactDetails {
  display: flex;
  justify-content:space-around;
  width: 70%; 
  margin: 30px;
}

.contactInfo {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px; /* Space between info box and map */
}

.contactInfo a {
  color: #333; /* Change the text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Smooth color transition */
}

.contactInfo a:hover {
  color: goldenrod; /* Change text color on hover */
}


.map{
margin: 20px;
flex-grow:1;
}

.bottomContactText {

  margin:10vh;

}
/* career page */

.careersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  height: 90vh;
  padding-top: 95px;
}

.careersHeader {
  text-align: center;
  width:100%;
  align-items: center;
  justify-content: center;
}
.careersTitle {
  justify-content: center;
   width:70%;
   text-align:left;
   margin-bottom: 10px;
   margin-top: 20px;
   border-bottom: 2px solid black;
  }


header h1 {
  margin: 0;
  font-size: 2em;
}


section {
  margin-bottom: 40px;
}

.openPositionsTitle {

  margin-left:30px;
}

.job {
  background-color: #f5f5f5;
  padding: 20px;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin:30px;
  margin-top: 60px;
  margin-bottom: 100px;
}


.job a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: darkgreen;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.job a:hover {
  background-color: rgb(0, 80, 0);
}

.job a {
  border: 2px solid #136134; /* Adding border */
  transition: color 0.8s, border-color 0.8s; /* Transition for color and border */
}


.careerSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;

}

 /*project page */

 .projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the start (top) vertically */
  height: 90vh;
  padding-top: 95px;}

.projectSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;

}




/* nav  */

.logo {
  cursor: pointer;
}

.logo-image {
  width: 390px; 
  height: auto; 
  
}

.navWrapper {
  background-color: white;
  display: flex;
  position: fixed;
  top:0;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 12vh;
  width: 100%;
}
.nav-item:hover {
  transform: translateY(-2px);
  transition: transform 250ms; 

}
.nav-item.active a {
  /* transform: scale(1.1);
  transition: transform 0.3s ease; 
  box-shadow: 0 0 10px rgba(142, 142, 142, 0.9);
  background-color: rgba(142, 142, 142, 0.45); 
  border-radius: 4px; */
  color:green;
  
}


.navLinks {
  
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  color: black;
 
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}
.navLinks:hover {
  cursor: pointer; 
}

nav ul {
  list-style: none;
  margin-top: 20px;
}




/* leadership page */

/* General styles */
.leadershipWrapper {
  height: 90vh;
  padding-top: 90px;


}

/* Header styles */
.leadershipHeader {
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* leadership Title styles */
.leadershipTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 29px;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

/* leadership Description styles */
.leadershipDescription {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


/* testimonials page */

.testimonialsWrapper {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.testimonial {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.testimonialsHeader {
  text-align: center;
  width:100%;
  align-items: center;
  justify-content: center;
}

.testimonialsTitle {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.testimonialsDescription {
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonial img {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px; /* Space between image and text */
  margin-top: 10px;
  border: 3px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.shortTestimonialsContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%; /* Occupy full width */
}

.shortTestimonialsContainer .testimonial {
  max-width: 300px; /* Adjust as needed */
}

/* services page */

.servicesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  height: 90vh;
  padding-top: 95px;
}

.servicesHeader {
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.servicesSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.servicesTitle {
  width: 70%;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 2px solid black;

}


.servicesListBackground {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
  margin: 20px auto; /* Centers the list horizontally */
}
.servicesListTitle {
  text-align: left;
  text-decoration: underline;
  margin-bottom: 20px;
  
}

.servicesListItem {

  flex-basis: calc(50% - 40px); /* Two items per row with spacing */
  margin: 20px;
}

.servicesDescription {
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.5; 
}


.servicesList {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  width: 60%;
  font-size: 14px;
  list-style: none;
  margin-left:100px;
  }

.servicesList li {
  margin-bottom: 24px;
  text-decoration: underline; /* Underline each list item */
  cursor: pointer; /* Change cursor to pointer */
  line-height: .2;
  margin-left: 30px;
  margin-top: 5px;
}


.servicesList li:before {
  content: ' ';
  color: #000000;
  font-size: 10px;
  margin-right: 8px;
  vertical-align: middle;

}



/* modal for form */

.modalTitle {
  display: flex;
  text-justify: center;
  justify-content: center;
  justify-items: center;
}


.open-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  height: 25vh; /* Adjust the height as needed */
}

.open-modal-button {
  /* Your button styles */
  background-color: darkgreen;
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  font-size: 18px; /* Adjust font size as needed */
  color: white;
  margin: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.open-modal-button:hover {
  background-color: rgb(0, 80, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



.close-modal-button {
  /* Style for the close button inside the modal */
  /* This can be positioned at the bottom if you prefer */
  background-color: darkgreen;
  position: absolute;
  color:white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
.close-modal-button:hover {
  /* Style for the close button inside the modal */
  /* This can be positioned at the bottom if you prefer */
  background-color: rgb(0, 80, 0); /* Darker green on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}



.custom-modal {
  position: fixed; /* Change to fixed position */
  top: 50%; /* Place it 50% from the top */
  left: 50%; /* Place it 50% from the left */
  transform: translate(-50%, -50%); /* Center it horizontally and vertically */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 70vw;
  height: 85vh;
}


/* Styles for the modal overlay */
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}









/* home page */


.homeWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    height: 90vh;
    padding-top: 95px;
  }

.homeHeader {
    padding: 20px;
    text-align: center;
  }

.homeMain {
  flex-grow: 1; 
  text-align: center;
  padding: 20px;
}

.img1{

max-width: 25%;
height: auto;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.company-description-text {
  font-size: 50;
  text-align: center;
}
.company-description {
  font-size: 50;
}


/* request a quote page */

/* Styles for the form within the modal */
.formcarry-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align items horizontally */
  
}

/* Adjust width and spacing of form elements */
.formcarry-container form input,
.formcarry-container form textarea {
  width: 30%; /* Set width to 25% for two elements per line */
  min-width: 30%;
  max-width: 67%;
  max-height: 25vh;
  display: inline-block; /* Display form elements next to each other */
  margin: 2%; /* Add some space between form elements */
  margin-bottom: 15px; /* Add some space between form elements */
}

/* Increase the height of the textareas if needed */


.formcarry-container form button[type="submit"] {
  background-color: darkgreen; /* Green background */
  color: white;
  padding: 10px 20px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Hover effect for the button */
.formcarry-container form button[type="submit"]:hover {
  background-color: rgb(0, 80, 0); /* Darker green on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}



/* Adjust width and spacing of form elements */
.formcarry-container form .form-group {
  width: calc(50% - 2.5%); /* Set width to 50% for two elements per line with margin */
  display: inline-block; /* Display form elements next to each other */
  flex-grow: 1; /* Allow items to grow and occupy available space */
  margin-right: 2.5%; /* Add some space between form elements */
  margin-bottom: 15px; /* Add some space between form elements */
  
}
.formcarry-container form .form-group:last-child {
  margin-right: 0; /* Remove margin-right for the last element */
}

/* Increase the height of the textareas if needed */
.formcarry-container form textarea {
  height: 60px; /* Increase the height of textareas */
}

.formcarry-container form button[type="submit"] {
  width: 100%; /* Button takes full width */
}

/* Hover effect for the button */
.formcarry-container form button[type="submit"]:hover {
  background-color: #45a049; /* Darker green on hover */
}




.formSection {
  

  border-radius: 8px;
  padding: 20px;
  margin: 40px auto;
  margin-bottom: 20px;
}

.quoteParagraph {
  text-justify: center;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.formcarry-container {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 70px auto;
  width:70%;
  margin-top:70px;
  border-radius: 8px;
}

.formBoxSmall,
.formBoxLarge {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formBoxSmall {
  width: 95%; /* Adjusted width */
  padding: 10px; /* Keep padding as needed */
  margin-bottom: 15px; /* Keep margin as needed */
  border: 1px solid #ccc; /* Keep border as needed */
  border-radius: 4px; /* Keep border radius as needed */
}

.formBoxLarge {
  height: 150px; 
}

.formButton {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #45a049;
}



/* property links page */

.propertyWrapper {
  padding-top: 73px;
  margin: 0 auto; /* Center the propertyWrapper horizontally */
}

.propertySection {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 70px auto; /* Center the propertySection horizontally */
  width: 68%;
  border-radius: 8px;
}

.propertyTitle {
  color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center; /* Center the text within propertyTitle */
}
.propertyTitle {
  color: #333;
  margin-bottom: 10px;
  text-align: center; /* Center the text within propertyTitle */
}

.firstLink {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center the list items within firstLink */
}

.firstLink li {
  margin-bottom: 8px;
}

.firstLink a {
  color: #007bff;
  text-decoration: none;
}

.firstLink a:hover {
  text-decoration: underline;
}

.img1 {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  display: block; /* Center the image within its container */
  margin: 0 auto; /* Center the image horizontally */
}






/* Footer Styles */

footer {
  background-color: #4f4f4f5d;
  color: white;
  font-family: Arial, sans-serif;
  width:100%;
  text-align: center;
  align-items: bottom;
}

.footer-container {
  display: flex;
  flex-direction: column; /* Display items in a column */
  align-items: center; /* Center items horizontally */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

.bbb-section {

  text-align: center; /* Center text */
}

.bbb-section img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.bbb-section p {
  margin: 0;
}

.footer-info {
  flex: 1 1 100px;
  
}
.footer-container img {
  max-width: 100px; /* Set maximum width */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add some space between the image and text */
}

/* Center the text below the image */
.footer-container p {
  text-align: center;
  width: 100%;
}



.footer-info a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  display: block; /* Ensure each element takes up the full width */
  margin-bottom: 10px; /* Adjust the spacing between elements */
  margin-top: 10px; /* Adjust the spacing between elements */
}

.footer-info a:hover {
  color: gold; /* Change text color on hover */
}


.footer-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-info p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  margin-bottom:0px;
  font-size: 14px;
  padding: 10px 0;

}



/* responsiveness add code below*/

@media screen and (max-width: 1270px) and (min-width: 951px) {

  /* home page */

 

  .logo-image {
    width: 300px; /* Adjusted width for smaller screens */
    
  }
  
  .navLinks {
    width:90vw;
    padding:0px;
    justify-content: center;
   
    
  }
  .nav-link {
   
    font-size: small;
  }

  img.map {
    width: 45vw; /* Adjusted width for smaller screens */
    margin-bottom: 20px auto; /* Adjusted margin for smaller screens */
    margin-top: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    align-items: center;
    justify-items: center;
  }
}


/* Global Styles */
@media (max-width: 950px) {

  /* home page */
  .homeMain img {
    min-width: 50vw;
  }

  .company-description-text{
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }


/* nav bar */
.navWrapper {
  height: auto; /* Adjusted height for smaller screens */
  padding: 0;
}

.logo-image {
  width: 350px; /* Adjusted width for smaller screens */
  max-width: 65vw;
  max-height: 12vh;
  margin-right:20vw;
  position:sticky;
}

.navLinks {
  display: none; /* Hide the nav links initially */
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 50px; /* Adjusted top position */
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  z-index: 999; /* Ensure navLinks are on top */
}

.menu-toggle {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2.5rem;
  color: black;
  background: none;
  border: none;
  cursor: pointer;

}
.navLinks.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95); /* Adjust opacity as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}
.nav-item {
  margin: 10px 0;
}


/* careers page */

  .careersWrapper {
    padding-top: 60px; /* Adjusted padding for smaller screens */
   
  }

  .careersTitle {
    width: 90%; /* Adjusted width for smaller screens */
  }
  .job {
    width: 80%; /* Adjusted width for smaller screens */
    margin-top: 75px;
    margin-bottom: 90px;
  }
  

  /* services page */

  .servicesWrapper {
    padding-top: 80px; /* Adjusted padding for smaller screens */
  }

  
  h1.servicesHeader {

    font-size:x-large;
  }

  h5.servicesTitle {
    width: 90%; /* Increase width for better readability */
    text-align: center; /* Center align titles */
    text-justify: center;
    margin: 10px auto; /* Center titles horizontally */
    margin-left: 10px auto;
    margin-right: 10px auto;
  }

  .servicesListBackground {
    width: 90%; /* Adjusted width for smaller screens */
    margin: 20px auto; /* Center the list horizontally */
  }

  .servicesListItem {
    flex-basis: calc(100% - 40px); /* Single item per row for mobile */
    margin: 10px 0; /* Adjusted margin for smaller screens */
  }

  .servicesList {
    columns: 1; /* Display list items in a single column */
    -webkit-columns: 1;
    -moz-columns: 1;
    width: 100%; /* Adjusted width for smaller screens */
    margin: 10px auto; /* Remove left margin */
    padding: 10px auto;
    text-justify: center;
  }
  ul.servicesList {
    columns: 1; /* Display list items in a single column */
    -webkit-columns: 1;
    -moz-columns: 1;
    width: 60vw; /* Adjusted width for smaller screens */
    margin: 10px auto; /* Remove left margin */
    padding: 0px;
    text-justify: center;
  }

  .servicesList li {
    margin-bottom: 12px; /* Reduced margin for smaller screens */
    padding-bottom: 10px;
    margin-left: 0; /* Remove left margin */
    text-align: center; /* Center align list items */
    text-justify: center;
  }

  /* contact page */

  .contactWrapper {
    padding-top: 50px; /* Adjusted padding for smaller screens */
  }

  .contactTitle {
    width: 90%; /* Adjusted width for smaller screens */
    margin-left: auto; /* Center align the title */
    margin-right: auto; /* Center align the title */
  }

  h1.contactHeader {

    margin-top:30px;
  }

  .contactDescription {
    margin: 20px; /* Adjusted margin for smaller screens */
  }

  .contactDetails {
    flex-direction: column; /* Stack contact info and map vertically */
    align-items: center; /* Center align items horizontally */
    width: 95%; /* Adjusted width for smaller screens */
    margin-left: auto; /* Center align the details */
    margin-right: auto; /* Center align the details */
  }

  .contactInfo {
    width: 90%; /* Adjusted width for smaller screens */
    margin-bottom: 20px; /* Adjusted margin for smaller screens */
    margin-top:0px;
    margin-left: 20px auto;
    margin-right:20px auto;
  }

  img.map {
    width: 95vw; /* Adjusted width for smaller screens */
    margin-bottom: 20px auto; /* Adjusted margin for smaller screens */
    margin-top: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    align-items: center;
    justify-items: center;
  }

  .bottomContactText {
    margin: 5vh; /* Adjusted margin for smaller screens */
  }


  /* leadership page */

  p.leadershipDescription{
    margin-left:25px;
    margin-right: 25px;
  }

  h5.leadershipTitle {
    font-size: medium;
    margin-left: 25px;
  }

  h1.leadershipHeader {
    width: 60vw;
    margin:1px auto;
    
  }


  /* testimonials page */

  div.testimonial {
    width: 80%; /* Adjust as needed */
    
  }

  .testimonial img {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    margin: 55px;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .testimonialsHeader {
    margin-top:0px;
  }

  .shortTestimonialsContainer {

    width: 90%;
  }

  /* property links page */
  .propertySection {
  width:80%;
  margin: 20px auto;
  }

  .propertySection img {
    min-width: 200px;
  }


  /* request a quote page */
  .formcarry-container {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 90%;
    padding:0;
  }
 
  .quoteParagraph {
    margin:20px;
    margin-top: 10px;
    
  }
  .formBoxSmall{
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-small;
   
  }
  
  

  /* footer */

 


}




@media screen and (min-width: 950px) {
  .menu-toggle {
    display: none;
  }
  #homeLink {
    display:none;
  }
}
